header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    background-image: url(../img/book-28.gif);
    background-size: 100%;
}

.icones{
    width: 40px;
    height: 40px;
    padding: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 36, 36);
    text-align: center;
    height: 100%;
    width: 100%;
    background-image: url(../img/book-28.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/book-28.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 70%;
    padding: 20px 30px 30px 30px;
    border-radius: 50% 50% 0 0;
}

h1{
    font-size: 100px;
    padding: 20px;
    text-shadow: 10px 5px #400101;
    font-family: 'Tangerine', cursive;
}

p{
    text-shadow: 2px 4px 2px #000000;
    font-family: 'Cookie', cursive;
    font-size: 26px;
}

button{
    font-size: 36px;
    font-family: 'Cookie', cursive;
    font-weight: 500;
    text-shadow: 4px 4px 8px #000000;
    background-color: #400101;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 100px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #D55208;
    color: white;
    transition: 1s;
  }