header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    background-image: url(../img/book-28.gif);
    background-size: 100%;
}

.icones{
    width: 40px;
    height: 40px;
    padding: 5px;
}
.imagem{
    width: 240px;
    height: 340px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    box-shadow: -1px 10px 10px #F2C230;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-image: url(../img/book-28.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}

.personagens{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url(../img/book-28.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius: 40% 40% 0 0;
}

h1{
    font-size: 50px;
    padding-top: 20px;
    text-shadow: 10px 5px #400101;
    font-family: 'Tangerine', cursive;
}

a{
    color: white;
    text-decoration: none;
    text-shadow: 2px 4px 2px #000000;
    font-family: 'Cookie', cursive;
    font-size: 46px;
}