@media (max-width: 700px){
    h1{
        font-size: 36px;
    }

    p{
        font-size: 18px;
        text-align: justify;
    }

    button{
        font-size: 20px;
    }

    .imagem{
        
    }
}